@using HashTag.Domain.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container app-container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="@Url.Content("/")">
            <span style="color: red">#</span>Tag
            <environment names="Development">
                @Html.Partial("_BootstrapScreenSizePartial")
            </environment>
        </a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @if ((await AuthorizationService.AuthorizeAsync(User, "admin")).Succeeded)
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Pages" asp-action="Admin">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Admin
                        </a>
                    </li>
                }

                @if (UserAccessor.User != null)
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Pages" asp-action="Profile" asp-route-userName="@UserAccessor.UserName">
                            <i class="fa fa-user" aria-hidden="true"></i> @UserAccessor.User.UserName
                        </a>
                    </li>
                }

                <!-- display only on sm screens -->
                @if (UserAccessor.User != null)
                {
                    if (!await UserManager.HasPasswordAsync(UserAccessor.ApplicationUser))
                    {
                        <li class="nav-item active hidden-lg-up">
                            <a class="nav-link" asp-controller="Manage" asp-action="SetPassword">
                                <i class="fa fa-cogs" aria-hidden="true"></i> Set a password
                            </a>
                        </li>
                    }
                    <li class="nav-item active hidden-lg-up">
                        <a class="nav-link" asp-controller="Manage" asp-action="EditUser">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Edit username or password
                        </a>
                    </li>
                    <li class="nav-item active hidden-lg-up">
                        <a class="nav-link" asp-controller="Auth" asp-action="SignOut">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item active hidden-lg-up">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                        </a>
                    </li>
                    <li class="nav-item active hidden-lg-up">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-register">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Resgister
                        </a>
                    </li>
                }
            </ul>
        </div>

        <!-- display only on larger than sm screens -->
        @if (UserAccessor.User != null)
        {
            <div class="dropdown">
                <button class="btn btn-outline-success hidden-md-down dropdown-toggle rounded-right-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Manage
                </button>
                <div class="dropdown-menu">
                    @if (!await UserManager.HasPasswordAsync(UserAccessor.ApplicationUser))
                    {
                        <a class="dropdown-item" asp-controller="Manage" asp-action="SetPassword">Set a password</a>
                    }
                    <a class="dropdown-item" asp-controller="Manage" asp-action="EditUser">Edit username or password</a>
                </div>
            </div>
            <a class="btn btn-outline-danger hidden-md-down rounded-left-0" asp-controller="Auth" asp-action="SignOut">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
            </a>
        }
        else
        {
            <div class="btn-group">
                <button class="btn btn-outline-success hidden-md-down" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                </button>
                <button class="btn btn-outline-success hidden-md-down" data-toggle="modal" data-target="#modal-register">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Register
                </button>
            </div>
        }
    </div>
</nav>