<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogFile="c:\webstorage\hashtag\nlog\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="Null" name="blackhole" />

    <target name="applicationlog" xsi:type="Database">

      <commandText>
        insert into dbo.ApplicationLog (Created, Type, Message, Trace, Logger)
        values (@created, NULLIF(@type,''), NULLIF(@message,''), NULLIF(@trace,''), @logger)
      </commandText>

      <parameter name="@created" layout="${event-properties:item=Created}" />
      <parameter name="@type" layout="${event-properties:item=Type}" />
      <parameter name="@message" layout="${event-properties:item=Message}" />
      <parameter name="@trace" layout="${event-properties:item=Trace}" />
      <parameter name="@logger" layout="${logger}" />

    </target>

    <target name="historylog" xsi:type="Database">

      <commandText>
        insert into dbo.RequestHistoryLog (Created, Username, Ip, HttpMethod, Url, UrlReferrer, Logger)
        values (@created, NULLIF(@username,''), NULLIF(@ip,''), NULLIF(@httpMethod,''), NULLIF(@url,''), NULLIF(@urlReferrer,''), @logger)
      </commandText>

      <parameter name="@created" layout="${event-properties:item=Created}" />
      <parameter name="@ip" layout="${event-properties:item=Ip}" />
      <parameter name="@username" layout="${event-properties:item=Username}" />
      <parameter name="@httpMethod" layout="${event-properties:item=HttpMethod}" />
      <parameter name="@url" layout="${event-properties:item=Url}" />
      <parameter name="@urlReferrer" layout="${event-properties:item=UrlReferrer}" />
      <parameter name="@logger" layout="${logger}" />

    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="RequestHistoryLogger" minlevel="Info" writeTo="historylog" />
    <logger name="ApplicationLogger" minlevel="Info" writeTo="applicationlog" />
  </rules>
</nlog>